@import './var.scss';

// 修改element-ui默认样式
.ui-designer {
  .el-collapse {
    border-top: 0;
  }
  .el-collapse-item__content {
    padding: 10px;
  }
  .el-collapse-item__header {
    padding: 0 5px;
    background-color: $--color-primary;
    color: #fff;
    font-size: 15px;
  }
  .el-tree--highlight-current {
    .is-checked {
      background-color: $--color-primary;
      color: #fff;
    }
    .el-tree-node {
      padding: 5px 0;
    }
  }
}

// 自定义webkit滚动条样式
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fbfbfb !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #cacaca !important;
}

// header通用样式

.page-header-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid $--color-primary;
  padding: 0 10px;
  box-sizing: border-box;
  img {
    width: 300px;
    height: 50px;
  }
  &__ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-item {
      padding: 5px 20px;
      border: 1px solid $--color-primary;
      border-radius: 10px;
      margin-left: 15px;
      font-size: 16px;
      color: $--color-primary;
      &:hover {
        cursor: pointer;
        background: $--color-primary;
        color: #fff;
      }
    }
  }
}

// 弹窗样式

.el-dialog-reset-header {
  border-radius: 6px;
  .el-dialog__title {
      font-size: 16px;
      height: 22px;
      display: block;
  }
  .el-dialog__header {
      // background:#F8F8F8;
      padding: 10px 20px;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      border-bottom: 1px solid #e8e8e8;
  }
  .el-dialog__body {
      max-height: 70vh;
      overflow-y: auto;
  }
  .el-dialog__footer {
      padding: 10px 20px;
      border-top: 1px solid #e8e8e8;
  }
  .el-dialog__headerbtn {
      top: 12px;
  }
}

.el-dialog__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}