// 修改element-ui默认样式
.ui-designer {
  .el-collapse {
    border-top: 0;
  }
  .el-collapse-item__content {
    padding: 10px;
  }
  .el-collapse-item__header {
    padding: 0 5px;
    background-color: #42b983;
    color: #fff;
    font-size: 15px;
  }
  .el-tree--highlight-current {
    .is-checked {
      background-color: #42b983;
      color: #fff;
    }
    .el-tree-node {
      padding: 5px 0;
    }
  }
}

// 自定义webkit滚动条样式
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fbfbfb !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #cacaca !important;
}

// header通用样式

.page-header-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #42b983;
  padding: 0 10px;
  box-sizing: border-box;
  img {
    width: 300px;
    height: 50px;
  }
  &__ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-item {
      padding: 5px 20px;
      border: 1px solid #42b983;
      border-radius: 10px;
      margin-left: 15px;
      font-size: 16px;
      color: #42b983;
      &:hover {
        cursor: pointer;
        background: #42b983;
        color: #fff;
      }
    }
  }
}